// Place all the styles related to the twitter_crawler controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#menu{
    border-bottom: 1px solid black;
    text-align: right;
}

#menu li{
    list-style-type: none;
}

.user_listing li{
    list-style-type: none;
    #background-color: #eee;
    margin-bottom: 2px;
    border-radius: 15%;
    #box-shadow: -2px 2px 0 #bbb;
    border: 1px solid #aaa;
    padding: 5px;
}

#left{
    #position: absolute;
    #left: 5;
    float: left;
    width: 20%;
    height: 100%;
}

#middle{
    float: left;
    width: 50%;
    height: 100%;
    margin-left: 20px;
    vertical-align: middle;
}

#user{
    background-color: #ddf;
    border-radius: 5%;
    box-shadow: 10px 10px 5px #99b;
    padding: 15px;
}

#middle p{
    margin-left: 5px;
}

.user_tweets li{
    list-style-type: none;
    margin-bottom: 8px;
}


#right{
    float: left;
    margin-left: 20px;
    
    width: 20%;
    height: 100%;
}
